<div routerLink="/home">Go back home</div>
<h1>Login</h1>

<!-- TEMPLATE-DRIVEN APPROACH ** First way - without @ViewChild:-->
<form #loginForm="ngForm" (ngSubmit)="formSubmitHandler(loginForm)">
    <div class="form-group">
        <label for="email">Email</label>
    <input type="text" name="email" id="email" ngModel />
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input type="text" name="password" id="password" ngModel />
    </div>

    <button>Login</button>

</form>

<!--  TEMPLATE-DRIVEN APPROACH ** Second way -with @ViewChild: -->
<!-- <form  #loginForm="ngForm" (ngSubmit)="formSubmitHandler()">
    <div class="form-group">
        <label for="email">Email</label>
    <input type="text" name="email" id="email" ngModel />
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input type="text" name="password" id="password" ngModel />
    </div>

    <button>Login</button>

</form> -->



