* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
}

.site-header {
    display: flex;
    padding-bottom: 1em;
    border-bottom: 2px solid black;
    justify-content: space-between;
    margin: 2.5em;
}

.site-main {
    display: flex;
    max-width: fit-content;
    margin: 2.5em;
}

.header-title {
    font-family: Helvetica, sans-serif;
    text-transform: uppercase;
}

.site-nav {
    display: flex;
    margin-right: 2em;
}

.site-nav ul {
    display: flex;
    flex: 1;
    gap: 20px;
    list-style-type: none;
}

.site-nav ul li a {
    text-decoration: none;
    color: rgb(0, 153, 0);
}

.site-main p {
    padding-top: 1em;
    color: #595656;
    line-height: 1.2;
}





