body {
    background-color: #e4e978;
}

article {
    padding: 5px 15px;
    width: 700px;
    background-color: #f2f4c0;
    border: 1px solid #b2ad7d;
    margin: 15px 10px;
}

.comments {
    color: #4c7658;
    font-style: italic;
}

.comments>h1 {
    font-size: 24px;
}

.comments>h2 {
    font-size: 20px;
}