@media (max-width: 600px) {
    body {
        font-size: 12px;
    }

    img {
        display: block;
        width: 100%;
        height: auto;
    }

    .max-width-container {
        padding: 10px 14px;
    }

    .home-navbar {
        display: static;
        padding-bottom: 0.5em;
    }

    .home-main {
        padding-bottom: 2em;
    }

    .home-navbar1 {
        display: none;
    }

    .home-container {
        padding-top: 50px;
    }

    .section-container.column {
        padding-top: 0;
    }

    .section-heading-text {
        margin-bottom: 3px;
    }

    .Heading-2 {
        font-size: 21px;
    }

    .section-heading-section-heading {
        margin-bottom: 26px;
    }

    .home-cards-container {
        grid-gap: 8px;
        justify-content: center;
    }

    .category-card-image {
        padding: 0 1em;
        width: 200px;
        height: auto;
        aspect-ratio: 1/1;
    }

    .section-container {
        flex-direction: column;
        align-items: stretch;
        width: 100%;
        padding-top: 0;
    }

    .home-left4 {
        padding: 2em 0;
    }

    .home-content {
        width: 100%;
        margin-bottom: 10px;
    }

    .home-text29 {
        margin-bottom: 10px;
        font-size: 22px;
    }

    .home-text30 {
        font-size: 12px;
        width: auto;
        padding: 0 1em;
        line-height: 1.3;
    }

    .home-text31 {
        font-size: 14px;
    }

    .home-image6 {
        width: 100%;
        height: auto;
    }

    .home-container07 {
        margin-top: 40px;
    }

    .home-text23 {
        font-size: 12px;
        padding: 0 1em;
        margin-bottom: 1em;
    }

    .home-main .home-container08 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* margin-left: 3em; */
    }

    /* with column-reverse */
    /* .home-footer1 {
        padding: 2em 2em 0.5em 2em;
        flex-direction: column-reverse;
    } */

    /* with order property */
    .home-footer1 {
        padding: 2em 2em 0.5em 2em;
        flex-direction: column;
    }

    .home-container09 {
        order: 1000;
    }

    .home-links-container {
        flex-direction: column;
    }






}