
body {
    /* border: 2px solid #e80b0b; */
    padding: 2em;
    /* background-color: #b6cbdd; */
    background-color: var(--clr-body-bgrd);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.site {
    color: #fff;
    background-color: var(--clr-site-bgrd);
    border: 1px solid var(--clr-border-layout);
    max-width: 1200px;
    width: 100%;
    border-radius: 8px;
}