.page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.5em;
}

.content p {
    padding-bottom: 0.5em;
}

.list {
    padding: 0.5em;

}

.list li {
    list-style: none outside;
}

.list li a {
    text-decoration: none;
}

.list li a:hover {
    text-decoration: underline;
}