* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #EEE;
    padding: 5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    /* height: 100vh; */

}

header,
main,
aside,
footer {
    padding: 2rem;
    background-color: #FFF;
    border-radius: 0.4rem;
    color: #000;
    display: flex;
}

p {
    align-self: self-start;
    text-transform: uppercase;
}

header {
    flex-basis: 100%;
    min-height: 150px;
}

main {
    flex: 8 1 40rem;
    min-height: 300px;
}

aside {
    flex: 2 1 20rem;
}

footer {
    flex-basis: 100%;
    min-height: 110px;
}