* {
    padding: 0;
    margin: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(238, 238, 238);
}

.card{
    display: flex;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(202, 202, 202);
    border-radius: 5px;
    max-width: 400px;
    padding: 20px;
    box-shadow: 0 0 1em rgb(0, 0, 0, 0.5)
}

.card-title {
    padding-bottom: 0.5em;
}