body {
    font: 16px/1.5 Helvetica, sans-serif;
    padding: 4em;
}

body, input, textarea {
    font: inherit;
}

section {
    margin: 30px;
}

header {
    border-bottom: 2px solid rgb(185, 180, 180);
}

header h1,
header nav {
    display: inline-block;
}

nav ul li {
    display: inline-block;
    margin-left: 1.3em;
}

nav ul li a {
    text-decoration: none;
    color: rgb(36, 170, 125);
}

p {
    color: rgb(79, 77, 77);
}