body {
    border: 2px solid #e80b0b;
    padding: 0.5em;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #b1aeb1;
}

.site {
    border: 2px solid #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign-up-to-newsletter {
    /* box-sizing: border-box;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    
    max-width: 100%; */
    background-color: #fff;
    border: 2px solid green;
}

.site-header,
.site-footer {
    /* max-width: 100%; */
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.site-main {
    /* max-width: 80%; */
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.site-main > .website,
.site-main > .our-team,
.site-main > .testimonials {
    max-width: 80%;
    border: 2px solid yellow;
}

.site-main > .our-team,
.site-main > .testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.site-main > .our-team > .cards, 
.site-main > .testimonials > .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.card {
    border: 2px solid violet;
}




/* .site, main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #000;
    padding: 0 2em;
    max-width: 80%;
}

.site-header {
    border: 2px solid #000;
    padding: 0 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-title {
    margin-top: 0;
    margin-bottom: 0;
    color: rgb(143, 4, 143);
}

.site-branding p {
    padding-top: 0;
    margin-top: 0;
}

.site-nav li {
    display: inline-block;
}

.site-nav li:last-child {
    margin-right: 3em;
}

.site-nav a {
    text-decoration: none;
    padding-left: 1.5em;
}

main {
    margin: 0 auto;
}

.site-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    border: 2px solid blue;
    
} */