* {
    padding: 0;
    margin: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    display: flex;
}

body {
    padding: 5em;
    background-color: #eee;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.gallery {
    max-width: 50em;
    margin: 0 auto;
}

.gallery ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: space-between;

}

.gallery li:hover {
    background-color: rgb(186, 182, 186);
}

.gallery li {
    list-style: none outside;
    border: 5px solid #000;
    padding: 0.5em;
    background-color: #fff;
    /* flex: 0 0 240px; */
    flex: 0 0 30%;
    display: flex;
    align-items: center;   
    box-shadow: 
        0 0 1em rgb(0, 0, 0, 0.5),
        0 0 0.5em rgb(0, 0, 0, 0.7) inset;  
}

