body {
    background-color: #000;
    background-repeat: no-repeat;
    background-image: url(../image/fitness-main.jpg);
    background-size: contain;
    background-position: center -15em;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.section-top-bar {
    background-color: #D01919;
    color: #fff;
    
}

.section-top-bar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
}

.section-top-bar .socials {
    display: flex;
}

.section-top-bar .socials li,
.section-top-bar .socials li a {
    display: block;
    padding-left: 0.5em;
}

.section-top-bar .socials a span {
    display: none;
}

.section-top-bar a {
    color: #fff;
}

.section-site-header {
    color: #fff;
}

.section-site-header a {
    color: #fff;
}

.section-site-header .container {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.section-site-header .site-title {
    visibility: hidden;
}

.section-features {
    background-color: #fff;
}

.hr-short {
    height: 2px;
    margin:  0 auto;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #D01919;
    width: 50px;
    border: navajowhite;
}

.section-coaches {
    background-color: #EFEFEF;
}

.section-site-footer {
    background-color: #D01919;
}

.section-site-footer p {
    text-align: center;
    padding: 1em;
}